<?xml version="1.0" encoding="UTF-8"?>
<SystemConfig>
	<MusicVolume value="60" type="UInt"/>
	<SEVolume value="99" type="UInt"/>
	<TextSpeed value="99" type="UInt"/>
	<Save>
		<Save1 value="AutoSave 第2幕 2013-2-27 2:54:27" type="String"/>
		<Save2 value="AutoSave 双河平原之战 后篇 第3回合" type="String"/>
		<Save3 value="Test1 2013-2-27 2:33:53" type="String"/>
		<Save4 type="String" value="Test2 2013-2-26 16:27:56"/>
		<Save5 type="String" value="Test3 2013-2-26 15:19:52"/>
	</Save>
</SystemConfig>

