<?xml version="1.0" encoding="UTF-8" ?>
<SystemConfig>
    <MusicVolume value="99" type="UInt" />
    <SEVolume value="99" type="UInt" />
    <TextSpeed value="99" type="UInt" />
    <Save>
        <Save1 value="AutoSave 2012-4-28 1:58:8" type="String" />
        <Save2 value="NoName 2012-3-22 0:58:42" type="String" />
    </Save>
</SystemConfig>
